<div class="content csc-preferredSLA-locTermGroup">
    <div class="label csc-preferred-label"></div>
	<div class="info-column">
		<div class="info-pair">
			<div class="content">
				<table>
					<thead>
						<tr>
							<td class="csc-preferredSLA-termDisplayName-label"></td>
              <!-- td class="csc-preferredSLA-termName-label hidden"></td -->
							<!-- td class="csc-preferredSLA-termQualifier-label hidden"></td -->
							<!-- td class="csc-preferredSLA-termType-label hidden"></td -->
							<!-- td class="csc-preferredSLA-termStatus-label label hidden"></td -->
              <td class="csc-preferredSLA-termSourceNote-label"></td> <!-- copied from below -->
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" class="csc-locationAuthority-termDisplayName"/></td>
              <!-- td><input type="text" class="csc-locationAuthority-termName hidden"/></td -->
							<!-- td><input type="text" class="csc-locationAuthority-termQualifier hidden"/></td -->
							<!-- td><select class="csc-locationAuthority-termType input-select hidden"><option value="">Options not loaded</option></select></td -->
							<!-- td><select class="csc-locationAuthority-termStatus input-select hidden"><option value="">Options not loaded</option></select></td -->
              <td><input type="text" class="csc-locationAuthority-termSourceNote"/></td> <!-- copied from below -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="info-column hidden">
		<div class="info-pair">
			<div class="content">
				<table>
					<thead>
						<tr>
							<td class="csc-preferredSLA-termLanguage-label hidden"></td>
							<td class="csc-preferredSLA-termPrefForLang-label hidden"></td>
							<td class="csc-preferredSLA-termSource-label hidden"></td>
							<td class="csc-preferredSLA-termSourceDetail-label hidden"></td>
							<td class="csc-preferredSLA-termSourceID-label"></td>
              <!-- copied above:  td class="csc-preferredSLA-termSourceNote-label"></td -->
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><select class="csc-locationAuthority-termLanguage input-select hidden"><option value="">Options not loaded</option></select></td>
							<td><input type="checkbox" class="csc-locationAuthority-termPrefForLang hidden"/></td>
							<td><input type="text" class="csc-locationAuthority-termSource hidden"/></td>
							<td><input type="text" class="csc-locationAuthority-termSourceDetail hidden"/></td>
							<td><input type="text" class="csc-locationAuthority-termSourceID hidden"/></td>
							<!-- copied above:  td><input type="text" class="csc-locationAuthority-termSourceNote"/></td -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
