<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-identification-object-number"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-sdmomNumberValue-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-sdmomOtherNumber">
                        <input type="text" class="csc-collection-object-sdmomNumberValue" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-objectStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-description-object-status"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-controlledObjectName-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-controlledObjectNameGroup">
                        <input type="text" class="csc-object-identification-controlled-object-name"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-otherObjectName-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-otherObjectNameGroup">
                        <input type="text" class="csc-object-identification-other-object-name" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-collectionType-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-collection-object-collectionType"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-collection-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-identification-collection" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-title-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-titleGroup">
                        <input type="text" class="csc-object-identification-object-title"/>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-recordStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-identification-record-status input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-legacySearchTermsData-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-legacySearchTermsData"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-contentConcepts-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-description-content-concept"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-material-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-materialGroup">
                        <input type="text" class="csc-object-description-material"/>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-technicalAttribute-label"></div>
                    </div>
                    <div class="content clearfix csc-dimMeasuredPartGroup-avInformationSubGroup">
                        <select class="csc-collection-object-technicalAttribute input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                            <tr>
                                <td class="csc-collection-object-objectProductionDateStart-label"></td>
                                <td class="csc-collection-object-objectProductionDateEnd-label"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" class="csc-collection-object-objectProductionDateStart" /></td>
                                <td><input type="text" class="csc-collection-object-objectProductionDateEnd" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionPeople-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionPeopleGroup">
                        <input type="text" class="csc-object-production-people"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionPerson-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionPersonGroup">
                        <input type="text" class="csc-object-production-person"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionPlace-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionPlaceGroup">
                        <input type="text" class="csc-object-production-place"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionOrganization-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionOrganizationGroup">
                        <input type="text" class="csc-object-production-organization"/>
                    </div>
                </div>
            </div>
            <div class="info-column2-50 fl-force-right">
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-origCopy-label"></div>
                    </div>
                    <div class="content clearfix csc-dimMeasuredPartGroup-avInformationSubGroup">
                        <select class="csc-collection-object-origCopy input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-objectStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-description-object-status input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-fieldColEventName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="input-alpha csc-collection-object-fieldColEventName" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-accessLimitationType-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-accessLimitationsGroup">
                        <select class="csc-collection-object-accessLimitationType input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-assocEventName-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-assocEventNameGroup">
                        <select class="csc-collection-object-assocEventName input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-assocActivity-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-assocActivityGroup">
                        <input type="text" class="csc-collection-object-assocActivity"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-sdmomOwner-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-sdmomOwnerGroup">
                        <input type="text" class="csc-collection-object-sdmomOwner" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-webReady-label"></div>
                    </div>
                    <div class="content clearfix">
                      <select class="csc-collection-object-webReady input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-copyright-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-copyright" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-createdBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-createdBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-createdAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-createdAtStart-label"></td>
                                    <td class="csc-collection-object-createdAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-createdAtStart" /></td>
                                    <td><input type="text" class="csc-collection-object-createdAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-updatedAtStart-label"></td>
                                    <td class="csc-collection-object-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-collection-object-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-column cs-multipleEdit hidden" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-collection-object-nonTextualInscriptionInformation-label"></div>
                        </div>
                        <div class="content csc-collection-object-nonTextualInscriptionGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-collection-object-inscriptionDescriptionInscriber-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-object-description-inscription-description-inscriber"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-collection-object-inscriptionDescriptionMethod-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-object-description-inscription-description-method"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-pair" style="display:none;">>
                    <div class="header">
                        <div class="label csc-collection-object-numberOfObjects-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-numberOfObjectsStart-label"></td>
                                    <td class="csc-collection-object-numberOfObjectsEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsStart" /></td>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
